.DS_Store
frontend/ios/Podfile
frontend/linux/flutter/generated_plugin_registrant.cc
frontend/linux/flutter/generated_plugin_registrant.h
frontend/linux/flutter/generated_plugins.cmake
frontend/macos/Podfile
frontend/windows/flutter/generated_plugin_registrant.h
backend/.env
/.env
backend/__pycache__/
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.gradle/
local.properties
*.xcconfig (in ephemeral/generated directories)
GeneratedPluginRegistrant.*
pubspec.lock (optional, depends on your team)